<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Lista de Produtos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Teste</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <div id="container">
            <ion-card>
                <img src="/assets/imagem/sorvete1.jpg" alt="sorveteria unincor">
                <ion-card-header>
                    <ion-card-subtitle>Sorveteria Unincor</ion-card-subtitle>
                    <ion-card-title>Sorvete de Morango</ion-card-title>
                </ion-card-header>

                <ion-card-content>
                    <p>2 bananas grandes congeladas</p><br>
                    <p>1/2 xícara de morango picados congelados</p><br>
                    <p>100 ml de iogurte desnatado opcional (ou grego)</p><br>
                </ion-card-content>
            </ion-card>
            <ion-card>
                <img src="/assets/imagem/sorvete2.jpg" alt="sorveteria unincor">
                <ion-card-header>
                    <ion-card-subtitle>Sorveteria Unincor</ion-card-subtitle>
                    <ion-card-title>Sorvete de Chocolate</ion-card-title>
                </ion-card-header>

                <ion-card-content>
                    <p>2 bananas grandes congeladas</p><br>
                    <p>1/2 xícara de morango picados congelados</p><br>
                    <p>100 ml de iogurte desnatado opcional (ou grego)</p><br>
                </ion-card-content>
            </ion-card>
            <ion-card>
                <img src="/assets/imagem/sorvete3.jpg" alt="sorveteria unincor">
                <ion-card-header>
                    <ion-card-subtitle>Sorveteria Unincor</ion-card-subtitle>
                    <ion-card-title>Sorvete de Flocos</ion-card-title>
                </ion-card-header>

                <ion-card-content>
                    <p>1 litro de leite;</p><br>
                    <p>1 lata de leite condensado;</p><br>
                    <p>2 colheres de sopa de amido de milho;</p><br>
                    <p>2 gemas;</p><br>
                    <p>Gotas de essência de baunilha;</p><br>
                </ion-card-content>
            </ion-card>
            <ion-card>
                <img src="/assets/imagem/sorvete4.jpg" alt="sorveteria unincor">
                <ion-card-header>
                    <ion-card-subtitle>Sorveteria Unincor</ion-card-subtitle>
                    <ion-card-title>Sorvete de Banana</ion-card-title>
                </ion-card-header>

                <ion-card-content>
                    <p>5 bananas</p><br>
                    <p>1 lata de creme de leite</p><br>
                    <p>1 xícara de chá de leite</p><br>
                    <p>1 colher de sopa de açúcar</p><br>
                </ion-card-content>
            </ion-card>
            <ion-card>
                <img src="/assets/imagem/sorvete5.jpg" alt="sorveteria unincor">
                <ion-card-header>
                    <ion-card-subtitle>Sorveteria Unincor</ion-card-subtitle>
                    <ion-card-title>Sorvete de Laranja</ion-card-title>
                </ion-card-header>

                <ion-card-content>
                    <p>1 uma lata de leite condensado.</p><br>
                    <p>2 duas medidas da lata de leite condensado de suco de laranja puro.</p><br>
                    <p>3 quatro colheres de sopa de creme de leite.</p><br>
                </ion-card-content>
            </ion-card>
        </div>
    </ion-content>
</ion-content>